@page "/customer"
@inject ICustomerRepository _customerRepository
@inject IJSRuntime _jsRuntime

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Kundregister</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="customer/create" class="btn btn-primary form-control">Skapa ny kund </a>
    </div>

    <div class="col-12 p-3">
        @if (Customers.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Företag</th>
                        <th>Skapad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cust in Customers)
                    {
                        <tr>
                            <td>
                                @cust.Id
                            </td>
                                                        <td>
                                @cust.FirstName
                            </td>
                                                        <td>
                                @cust.LastName
                            </td>

                            <td>
                                @cust.Companies.CompanyName
                            </td>
                            <td>
                                @cust.CreatedDate
                            </td>

                            <td>
                                <NavLink href="@($"customer/edit/{cust.Id}")" class="btn-primary btn">Ändra</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(cust.Id)">Ta bort</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //loading gif
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>
            }
            else
            {
                //no records
                <p>Det finns inga kunder lagrade i databasen.</p>
            }
        }

    </div>
</div>

@code {
    private IEnumerable<CustomerDTO> Customers { get; set; } = new List<CustomerDTO>();

    public bool IsLoading { get; set; }

    private int DeleteCustomersId { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCustomers();
        }
    }

    private async Task LoadCustomers()
    {
        IsLoading=true;
        StateHasChanged();
        Customers = await _customerRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeleteCustomersId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        if (isConfirmed && DeleteCustomersId != 0)
        {
            //IsLoading = true;
            await _customerRepository.Delete(DeleteCustomersId);
            await LoadCustomers();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading = false;
    }
}
